---
const {
  tag = 'button',
  class: className,
  href,
  type,
  theme = 'light',
  text,
  disabled,
  ...attrs
} = Astro.props;

const ButtonTag = href ? 'a' : tag;

const classes = [
  'base-button',
  `base-button_theme_${theme}`,
  className,
];

const buttonAttributes = {
  class: classes.join(' '),
  href: href || undefined,
  type: ButtonTag === 'button' ? type || 'button' : undefined,
  disabled: ButtonTag === 'button' && disabled ? true : undefined,
  ['aria-disabled']: ButtonTag !== 'button' && disabled ? true : undefined,
  ...attrs,
};
---

<ButtonTag {...buttonAttributes}>
  {text && <span class="base-button__text">{text}</span>}
</ButtonTag>

<style lang="scss" is:global>
  .base-button {
    $element: &;

    @include resetbtn;

    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(60);
    padding: rem(8);
    border-radius: rem(300);
    transition:
      background-color $default-transition,
      color $default-transition;

    &_theme_light {
      color: $primary;
      background-color: $light;

      @media #{$is-hover} {
        &:hover {
          color: $light;
          background-color: $dark;
        }
      }

      &:active,
      &:focus-visible {
        color: $light;
        background-color: $dark;
      }
    }

    &_theme_dark {
      color: $light;
      background-color: $dark;

      @media #{$is-hover} {
        &:hover {
          background-color: $primary;
        }
      }

      &:active,
      &:focus-visible {
        background-color: $primary;
      }
    }

    &_theme_primary {
      color: $light;
      background-color: $primary;

      @media #{$is-hover} {
        &:hover {
          color: $primary;
          background-color: $light;
        }
      }

      &:active,
      &:focus-visible {
        color: $primary;
        background-color: $light;
      }
    }

    &:disabled,
    &[aria-disabled='true'] {
      opacity: 0.4;
      pointer-events: none;
    }

    &__text {
      @include text2-desktop;
    }
  }
</style>
