$tablet: "screen and (min-width: 768px)";
$desktop-sm: "screen and (min-width: 1200px)";
$desktop-md: "screen and (min-width: 1440px)";
$desktop-lg: "screen and (min-width: 1920px)";
$is-hover: "(hover: hover) and (pointer: fine)";
