$primary: #87977a;
$secondary: #56445d;
$light: #ffffff;
$light-80: rgba($light, 80%);
$light-60: rgba($light, 60%);
$light-30: rgba($light, 30%);
$dark: #1e1e1e;
$dark-60: rgba($dark, 60%);
$dark-30: rgba($dark, 30%);
$dark-12: rgba($dark, 12%);
$error: #e91313;
