---
import { BASE } from '../scripts/helpers/constants.js';
import BaseInputField from '../ui/BaseInputField.astro';
import BaseTextareaField from '../ui/BaseTextareaField.astro';
import BaseCheckbox from '../ui/BaseCheckbox.astro';
import BaseButton from '../ui/BaseButton.astro';

const { 
  class: className,
  animated = false,
  ...attrs
} = Astro.props;

const classes = [
  'consultation-form',
  'js-consultation-form',
  animated ? 'js-consultation-form-animated' : '',
  className
];
---

<form
  class:list={classes}
  action="#"
  {...attrs}
>
  <BaseInputField
    class="consultation-form__form-field js-form-field"
    error-text="Укажите Ваше имя"
    placeholder="Имя"
    input-name="name"
    required
  />

  <BaseInputField
    class="consultation-form__form-field js-form-field"
    type="email"
    error-text="Укажите корректный адрес электронной почты"
    placeholder="Электронная почта"
    input-name="email"
    required
  />

  <BaseInputField
    class="consultation-form__form-field js-form-field"
    type="phone"
    error-text="Укажите номер телефона"
    placeholder="Телефон"
    input-name="phone"
  />

  <BaseTextareaField
    class="consultation-form__form-field js-form-field"
    placeholder="Сообщение"
    textarea-name="message"
  />

  <BaseCheckbox
    class="consultation-form__form-checkbox js-form-field"
    error-text="Ознакомьтесь с политикой конфиденциальности"
    input-name="checkbox"
    required
  >
    Я&nbsp;соглашаюсь
    с&nbsp;<a href={`${BASE}documents/privacy-policy.pdf`} target="_blank">Политикой конфиденциальности</a>.
  </BaseCheckbox>

  <BaseButton
    class="consultation-form__submit-button js-form-button"
    theme="dark"
    text="Отправить запрос"
    type="submit"
  />
</form>

<script>
  import { BASE } from '../scripts/helpers/constants.js';
  import { Form } from '../scripts/helpers/commonForm.js';
  import { gsap } from '../scripts/helpers/gsap.js';

  function initConsultationForm() {
    const consultationForms = document.querySelectorAll('.js-consultation-form');

    consultationForms.forEach(consultationForm => {
      new Form({
        formElement: consultationForm,
        formFieldClass: '.js-form-field',
        invalidFieldClass: '.invalid',
        errorFieldClass: '.error',
        successModalSelector: '[data-modal="success-modal"]',
        errorModalSelector: '[data-modal="error-modal"]',
        sendPath: `${BASE}api/send.php`,
      }).init();
    });

    const consultationAnimatedForms = document
      .querySelectorAll('.js-consultation-form.js-consultation-form-animated');

    if (!consultationAnimatedForms.length) {
      return;
    }

    const mm = gsap.matchMedia();

    function formAnimationsHandler() {
      consultationAnimatedForms.forEach((consultationAnimatedForm) => {
        const animatedElements = gsap.utils
          .toArray('.js-form-field, .js-form-button', consultationAnimatedForm);
          
        animatedElements.forEach((item) => {
          const tween = gsap.from(item, {
            opacity: 0,
            y: '5rem',
            duration: 1,
            ease: 'power4.out',
            scrollTrigger: {
              trigger: item,
              start: "bottom bottom",
            },
            onComplete() {
              tween.scrollTrigger?.kill();
              tween.kill();
            },
          });
        });
      });
    }

    mm.add('(max-width: 767.98px)', formAnimationsHandler);
    mm.add('(min-width: 768px) and (max-width: 1199.98px)', formAnimationsHandler);
    mm.add('(min-width: 1200px)', formAnimationsHandler);

    document.addEventListener('astro:before-swap', () => {
      mm.revert();
    }, { once: true });
  }

  initConsultationForm();
</script>

<style lang="scss" is:global>
  .consultation-form {
    $element: &;

    &__form-field {
      margin-top: rem(28);

      &:first-child {
        margin-top: 0;
      }
    }

    &__form-checkbox {
      margin-top: rem(30);
    }

    &__submit-button {
      width: 100%;
      margin-top: rem(24);
    }
  }
</style>
