---
import BaseInputField from '../ui/BaseInputField.astro';
import BaseTextareaField from '../ui/BaseTextareaField.astro';
//import BaseCheckbox from '../ui/BaseCheckbox.astro';
import BaseButton from '../ui/BaseButton.astro';

const { class: className, ...attrs } = Astro.props;

const classes = ['consultation-form', 'js-consultation-form', className];
---

<form
  class:list={classes}
  action="#"
  {...attrs}
>
  <BaseInputField
    class="consultation-form__form-field js-form-field"
    error-text="Необходимо указать своё имя"
    placeholder="Имя"
    input-name="name"
    required
  />

  <BaseInputField
    class="consultation-form__form-field js-form-field"
    error-text="Необходимо указать адрес электронной почты"
    placeholder="Электронная почта"
    input-name="email"
    required
  />

  <BaseInputField
    class="consultation-form__form-field js-form-field"
    type="phone"
    error-text="Необходимо указать номер телефона"
    placeholder="Телефон"
    input-name="phone"
  />

  <BaseTextareaField
    class="consultation-form__form-field js-form-field"
    error-text="Необходимо описать ваш вопрос или ситуацию"
    placeholder="Сообщение"
    textarea-name="message"
  />

  <!-- <BaseCheckbox
    class="ui-kit-section__form-element js-form-field"
    label-text="Я ознакомлен(-а) с политикой конфиденциальности"
    error-text="Необходимо ознакомиться с политикой конфиденциальности"
    input-name="checkbox"
    required
  /> -->

  <BaseButton
    class="consultation-form__submit-button"
    theme="dark"
    text="Отправить запрос"
    type="submit"
  />
</form>

<script>
  import { Form } from '../scripts/helpers/commonForm.js';

  function initConsultationForm() {
    const questionForms = document.querySelectorAll('.js-consultation-form');

    questionForms.forEach(questionForm => {
      new Form({
        formElement: questionForm,
        formFieldClass: '.js-form-field',
        invalidFieldClass: '.invalid',
        errorFieldClass: '.error',
        successModalSelector: '[data-modal="success-modal"]',
        errorModalSelector: '[data-modal="error-modal"]',
      }).init();
    });
  }

  initConsultationForm();
</script>

<style lang="scss" is:global>
  .consultation-form {
    $element: &;

    &__form-field {
      margin-top: rem(40);

      &:first-child {
        margin-top: 0;
      }
    }

    &__submit-button {
      margin-top: rem(24);
      width: 100%;
    }
  }
</style>
