@use "../functions" as *;
@use "../variables/" as *;

@mixin base-container {
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
}

@mixin large-container {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}
