@use "../functions" as *;
@use "../variables/" as *;

@mixin h1-base {
  font-family: $ff-accent;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2%;
}

@mixin h1-mobile {
  @include h1-base;

  font-size: rem(24);
  line-height: 122%;
}

@mixin h1-desktop {
  @include h1-base;

  font-size: rem(44);
  line-height: 122%;
}

@mixin h1 {
  @include h1-mobile;

  @media #{$tablet} {
    @include h1-desktop;
  }
}

@mixin h2-base {
  font-family: $ff-accent;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
}

@mixin h2-mobile {
  @include h2-base;

  font-size: rem(22);
  line-height: 140%;
}

@mixin h2-desktop {
  @include h2-base;

  font-size: rem(40);
  line-height: 140%;
}

@mixin h2 {
  @include h2-mobile;

  @media #{$tablet} {
    @include h2-desktop;
  }
}

@mixin h3-base {
  font-family: $ff-accent;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0;
}

@mixin h3-mobile {
  @include h3-base;

  font-size: rem(20);
  line-height: 125%;
}

@mixin h3-desktop {
  @include h3-base;

  font-size: rem(32);
  line-height: 140%;
}

@mixin h3 {
  @include h3-mobile;

  @media #{$tablet} {
    @include h3-desktop;
  }
}

@mixin h4-base {
  font-family: $ff-default;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: -2%;
}

@mixin h4-mobile {
  @include h4-base;

  font-size: rem(18);
  line-height: 140%;
}

@mixin h4-desktop {
  @include h4-base;

  font-size: rem(22);
  line-height: 162%;
}

@mixin h4 {
  @include h4-mobile;

  @media #{$tablet} {
    @include h4-desktop;
  }
}

@mixin text1-base {
  font-family: $ff-default;
  font-weight: 200;
  text-transform: none;
  letter-spacing: -1%;
}

@mixin text1-mobile {
  @include text1-base;

  font-size: rem(16);
  line-height: 125%;
}

@mixin text1-desktop {
  @include text1-base;

  font-size: rem(20);
  line-height: 125%;
}

@mixin text1 {
  @include text1-mobile;

  @media #{$tablet} {
    @include text1-desktop;
  }
}

@mixin text2-base {
  font-family: $ff-default;
  font-weight: 200;
  text-transform: none;
  letter-spacing: -1%;
}

@mixin text2-mobile {
  @include text2-base;

  font-size: rem(14);
  line-height: 145%;
}

@mixin text2-desktop {
  @include text2-base;

  font-size: rem(18);
  line-height: 145%;
}

@mixin text2 {
  @include text2-mobile;

  @media #{$tablet} {
    @include text2-desktop;
  }
}

@mixin text3-base {
  font-family: $ff-default;
  font-weight: 200;
  text-transform: none;
  letter-spacing: -1%;
}

@mixin text3-mobile {
  @include text3-base;

  font-size: rem(12);
  line-height: 145%;
}

@mixin text3-desktop {
  @include text3-base;

  font-size: rem(16);
  line-height: 145%;
}

@mixin text3 {
  @include text3-mobile;

  @media #{$tablet} {
    @include text3-desktop;
  }
}

@mixin text4 {
  font-family: $ff-default;
  font-weight: 200;
  text-transform: none;
  letter-spacing: -1%;
  font-size: rem(10);
  line-height: 125%;
}
