@use "../functions" as *;
@use "../mixins" as *;
@use "../variables/" as *;

:root {
  --container-padding: #{rem(20)};
  --header-height: #{rem(60)};

  @media #{$tablet} {
    --container-padding: #{rem(32)};
    --header-height: #{rem(90)};
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*::selection {
  color: $primary;
  background-color: $secondary;
}

html {
  font-size: 4.10256vw;

  @media #{$tablet} {
    font-size: 1.5625vw;
  }

  @media #{$desktop-sm} {
    font-size: 1.11111vw;
  }

  @media #{$desktop-md} {
    font-size: 16px;
  }
}

body {
  @include text2;

  color: $light;
  background-color: $dark;

  &.locked {
    overflow: hidden;

    &::after {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      display: block;
      width: 100%;
      height: 100%;
      background-color: transparent;
      content: "";
      overflow-y: scroll;
      pointer-events: none;
    }

    &.disable-pointer::after {
      z-index: 300;
      pointer-events: auto;
    }
  }
}

h1 {
  @include h1;

  margin: 0;
}

h2 {
  @include h2;

  margin: 0;
}

h3 {
  @include h3;

  margin: 0;
}

h4 {
  @include h4;

  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

p {
  @include text2;

  margin: 0;
}
